.root {
  display: inline-block;
  -st-states: disabled, checked, focused;
}

.icon {
  opacity: 0.3;
}

.root:checked::icon, .root:hover::icon {
  opacity: 1;
}

.hiddenRadio {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  opacity: 0;
}

.content {

}
