.root {
  display: inline-block;
  -st-states: disabled, selected, focused;
}

.icon {
  opacity: 0.3;
}

.root:selected::icon, .root:hover::icon {
  opacity: 1;
}

.hiddenRadio {
  position: absolute;
  display: none;
}

.content {

}
