:vars {
  /** Option background color when hovered */
  hoverBackgroundColor: lightgrey;
  /** Option background color when selected */
  selectedBackgroundColor: grey;
  /** Option background color when selected & hovered */
  selectedHoverBackgroundColor: dimgrey;
  /** Option background color when disabled */
  disabledBackgroundColor: white;
}

.root {
  -st-states: hovered, isDisabled, selectable, selected;
}

.root:hovered {
  background-color: value(hoverBackgroundColor);
}

.root:isDisabled {
  background-color: value(disabledBackgroundColor);
}

.root:selected {
  background-color: value(selectedBackgroundColor);
}

.root:selected:hovered {
  background-color: value(selectedHoverBackgroundColor);
}
