:import {
    -st-from: '../core/Select.st.css';
    -st-default: Select;
}

:import {
    -st-from: '../core/DatePicker.st.css';
    -st-default: DatePicker;
}

:import {
    -st-from: '../core/DateRangePicker.st.css';
    -st-default: DateRangePicker;
}

:import {
    -st-from: './icons';
    -st-named: chevronDown, smile;
}

.root {
    -st-extends: DateRangePicker;
}

Select::toggleIcon {
    position: relative;
}

Select::toggleIcon::before,
Select::toggleIcon::after
 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-size: 100%;
    transition: opacity 1s, transform 1s;
}

Select::toggleIcon::before {
    opacity: 1;
    background-image: chevronDown(#757575);
}

Select::toggleIcon::after {
    opacity: 0;
    background-image: chevronDown(#E53935);
}

Select:hover::toggleIcon::before {
    opacity: 0;
    transform: rotate(180deg);
}

Select:hover::toggleIcon::after {
    opacity: 1;
    transform: rotate(180deg);
}

::fromDate::year::toggleIcon::before {
    background-image: smile(#6A1B9A);
}

::fromDate::year::toggleIcon::after {
    background-image: smile(#E53935);
}
