:import {
    -st-from: '../core/Select.st.css';
    -st-default: Select;
}

:import {
    -st-from: './icons';
    -st-named: chevronDown;
}

.root {
    -st-extends: Select;
}

/* @note
   Realistically we would need Stylable to provide something like:

   :import {
       -st-from: 'icons';
       -st-named: chevronDown;
    }

    .root {
        background-image: chevronDown(#FC0, #DEF);
    }
*/

::toggleIcon {
    position: relative;
}

::toggleIcon::before,
::toggleIcon::after
 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    transition: opacity 1s, transform 1s;
}

::toggleIcon::before {
    opacity: 1;
    background-image: chevronDown(#1E88E5);
}

::toggleIcon::after {
    opacity: 0;
    background-image: chevronDown(#F44336);
}

.root:hover::toggleIcon::before {
    opacity: 0;
}

.root:hover::toggleIcon::after {
    opacity: 1;
}
