.root
{
    -st-states: selected;
    padding: 7px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}

.root:selected
{
    background: orange;
}

.innerButton
{
    position: relative;
    margin-left: 10px;
}

.innerButton:focus::after
{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: 0 0 4px 2px green;
}

/*.root:focused*/
/*{*/
    /*position: relative;*/
/*}*/

/*.root:focused::after*/
/*{*/
    /*content: "";*/

    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*z-index: 1;*/
    /*box-shadow: 0 0 3px 1px red;*/
/*}*/