.root
{
    -st-states: selected;
    padding: 7px;
    border: 1px solid #ddd;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.root:selected
{
    background: orange;
}


