:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B40, GRAD_B10, GRAD_D10, GRAD_G10, GRAD_O10, GRAD_R10;
}

:import {
  -st-from: "../text.st.css";
  -st-named: sizeMedium, sizeSmall, sizeTiny, weightNormal, weightBold, light;
} 

:vars {
  gradientRotation: 225deg;
  defaultBackgroundImage: value(backgroundGradientBlue);
}

.avatar {
  -st-extends: Avatar;
}

BackofficeTheme .avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: value(B40); /* TODO: This should be the default bg color for when a custom icon is used. */
  background-image: value(GRAD_B10); /* TODO: This should be the default bg color for when a text is used. */

  height: 48px;
  width: 48px;
  border-radius: 30px; 
}

/* Colors */
BackofficeTheme .avatar.colorBlue {
  background-image: value(GRAD_B10);
}

BackofficeTheme .avatar.colorGreen {
  background-image: value(GRAD_G10);
}

BackofficeTheme .avatar.colorGrey {
  background-image: value(GRAD_D10);
}

BackofficeTheme .avatar.colorRed {
  background-image: value(GRAD_R10);
}

BackofficeTheme .avatar.colorOrange {
  background-image: value(GRAD_O10);
}

/* Sizes */
BackofficeTheme .avatar.size90 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
}

BackofficeTheme .avatar.size72 {
  height: 72px;
  width: 72px;
  border-radius: 36px;
}

BackofficeTheme .avatar.size60 {
  height: 60px;
  width: 60px;
  border-radius: 36px;
}

BackofficeTheme .avatar.size48 {
  height: 48px;
  width: 48px;
  border-radius: 30px;
}

BackofficeTheme .avatar.size36 {
  height: 36px;
  width: 36px;
  border-radius: 21px;
}

BackofficeTheme .avatar.size30 {
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

BackofficeTheme .avatar.size24 {
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

BackofficeTheme .avatar.size18 {
  height: 18px;
  width: 18px;
  border-radius: 12px;
}

/* Sizes text */
BackofficeTheme .avatar::text {
  -st-mixin: sizeSmall, weightBold, light;
}

BackofficeTheme .avatar.size90::text,
BackofficeTheme .avatar.size72::text  {
  -st-mixin: sizeMedium;
}

BackofficeTheme .avatar.size36::text,
BackofficeTheme .avatar.size30::text  {
  -st-mixin: sizeTiny, weightNormal;
}

BackofficeTheme .avatar.size24::text,
BackofficeTheme .avatar.size18::text  {
  visibility: hidden;
}



