:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B40, GRAD_B10, GRAD_D10, GRAD_G10, GRAD_O10, GRAD_R10;
}

:import {
  -st-from: "../text.st.css";
  -st-named: sizeMedium, sizeSmall, sizeTiny, weightNormal, weightBold, light;
} 

@st-scope BackofficeTheme {

  Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 48px;
    width: 48px;
    border-radius: 30px; 
  }

  Avatar:contentType(image)::content {
    height: inherit;
    width: inherit;
    border-radius: inherit;
  }

  /* Colors */

  Avatar:contentType(placeholder) {
   background-color: value(B40);
  }

  Avatar:contentType(text) {
    background-image: value(GRAD_B10);
  }

  Avatar:contentType(text).colorBlue {
    background-image: value(GRAD_B10);
  }

  Avatar:contentType(text).colorGreen {
    background-image: value(GRAD_G10);
  }

  Avatar:contentType(text).colorGrey {
    background-image: value(GRAD_D10);
  }

  Avatar:contentType(text).colorRed {
    background-image: value(GRAD_R10);
  }
  
  Avatar:contentType(text).colorOrange {
    background-image: value(GRAD_O10);
  }

  /* Sizes */

  Avatar.size90 {
    height: 90px;
    width: 90px;
    border-radius: 45px;
  }

  Avatar.size72 {
    height: 72px;
    width: 72px;
    border-radius: 36px;
  }

  Avatar.size60 {
    height: 60px;
    width: 60px;
    border-radius: 36px;
  }

  Avatar.size48 {
    height: 48px;
    width: 48px;
    border-radius: 30px;
  }

  Avatar.size36 {
    height: 36px;
    width: 36px;
    border-radius: 21px;
  }

  Avatar.size30 {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }

  Avatar.size24 {
    height: 24px;
    width: 24px;
    border-radius: 12px;
  }
  
  Avatar.size18 {
    height: 18px;
    width: 18px;
    border-radius: 12px;
  }

  /* Sizes text */

  Avatar:contentType(text)::content {
    -st-mixin: sizeSmall, weightBold, light;
  }

  Avatar:contentType(text).size90::content,
  Avatar:contentType(text).size72::content  {
    -st-mixin: sizeMedium;
  }

  Avatar:contentType(text).size36::content,
  Avatar:contentType(text).size30::content  {
    -st-mixin: sizeTiny, weightNormal;
  }

  Avatar:contentType(text).size24::content,
  Avatar:contentType(text).size18::content  {
    visibility: hidden;
  }
  
}
