:import {
  -st-from: "../../baseComponents/InputWithOptions/InputWithOptions.st.css";
  -st-default: InputWithOptions;
}

:import {
  -st-from: "../Divider/Divider.st.css";
  -st-default: Divider;
}

.root {
  -st-extends: InputWithOptions;
  -st-states: disabled;
}

.divider {
  -st-extends: Divider;
}
