@custom-selector :--contentContainer .root::popover;
@custom-selector :--option .root::dropdownContent::dropdownOption;

:import {
  -st-from: "../../baseComponents/InputWithOptions/InputWithOptions.st.css";
  -st-default: InputWithOptions;
}

:import {
  -st-from: "../Divider/Divider.st.css";
  -st-default: Divider;
}

.root {
  -st-extends: InputWithOptions;
  -st-states: disabled, error;
}

.divider {
  -st-extends: Divider;
}

.root::inputComponent::nativeInput {
  padding-right: 16px;
}

.icon {
  margin: 0 -16px -2px;
}
