.root {
  -st-states: selected, disabled;
  position: relative;
  border: 1px solid grey;
}

.root:not(:selected) .selectedIcon {
  display: none;
}

.selectedIcon {
  position: absolute;
  top: -10px;
  right: -10px;
}

:global([dir="rtl"]) .selectedIcon {
  left: -10px;
  right: unset;
}

.root:disabled {
  cursor: default;
}
