:import {
  -st-from: "../../src/components/StylableToggleSwitch/ToggleSwitch.st.css";
  -st-default: ToggleSwitch;
}

:import {
  -st-from: "../../src/components/StylableToggleSwitch/ToggleSwitchStyle.st.css";
  -st-default: ToggleSwitchStyle;
}

:import {
  -st-from: "../../src/components/StylableToggleSwitch/ToggleSwitchLayout.st.css";
  -st-default: ToggleSwitchLayout;
}

:import {
  -st-from: "../../src/components/StylableToggleSwitch/ToggleSwitchColor.st.css";
  -st-default: ToggleSwitchColor;
}

.root {
  -st-extends: ToggleSwitch;
  -st-mixin: ToggleSwitchStyle, ToggleSwitchLayout, ToggleSwitchColor;
}
