:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "./Tickers.st.css";
  -st-default: Tickers;
}

.root {
  -st-extends: Input;
  -st-states: focus;
}

.tickers {
  -st-extends: Tickers;
}
