:import {
  -st-from: "../theme.st.css";
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: content;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, F00;
}

.iconButton {
  -st-extends: Button;
}

BackofficeTheme .iconButton {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0;

  box-sizing: border-box;
  text-align: center;
  
  border: 1px solid;
  outline: none;
  transition: all 100ms linear;

  background-color: value(B10);
  border-color: value(B10);
  color: white;
}

BackofficeTheme .iconButton:hover:not(:disabled) {
  background-color: value(B20);
  border-color: value(B20);
  color: value(D80);
}

BackofficeTheme .iconButton:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

BackofficeTheme .iconButton:disabled {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

BackofficeTheme .iconButton:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

BackofficeTheme .iconButton .content {
  line-height: 0;
  width: 100%;
  height: 100%;
}

/* special case inverted */

BackofficeTheme .iconButton.inverted {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

BackofficeTheme .iconButton.inverted:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background: value(B20);
}

BackofficeTheme .iconButton.inverted:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

BackofficeTheme .iconButton.inverted:disabled {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* special case inverted secondary */

BackofficeTheme .iconButton.inverted.secondary {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

BackofficeTheme .iconButton.inverted.secondary:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background: value(B20);
}

BackofficeTheme .iconButton.inverted.secondary:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

BackofficeTheme .iconButton.inverted.secondary:disabled {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* Priority */

BackofficeTheme .iconButton.secondary {
  border: solid 1px value(B10);
  background: transparent;
  color: value(B10);
}

BackofficeTheme .iconButton.secondary:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background-color: value(B20);
}

BackofficeTheme .iconButton.secondary:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

BackofficeTheme .iconButton.secondary:disabled {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* skin Light */

BackofficeTheme .iconButton.light {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

BackofficeTheme .iconButton.light:hover:not(:disabled) {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

BackofficeTheme .iconButton.light:active:not(:disabled) {
  background-color: value(B40);
  color: value(B10);
}

BackofficeTheme .iconButton.light:disabled {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* skin Light secondary */

BackofficeTheme .iconButton.light.secondary {
  border: solid 1px value(D80);
  background: transparent;
  color: value(D80);
}

BackofficeTheme .iconButton.light.secondary:hover:not(:disabled) {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

BackofficeTheme .iconButton.light.secondary:active:not(:disabled) {
  background-color: value(B40);
  border: solid 1px value(B40);
  color: value(B10);
}

BackofficeTheme .iconButton.light.secondary:disabled {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* sizes */

BackofficeTheme .iconButton.small {
  width: 30px;
  height: 30px;
}
