:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: content;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, F00;
}

.iconButton {
  -st-extends: Button;
}

.iconButton {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 0;

  box-sizing: border-box;
  text-align: center;
  
  border: 1px solid;
  outline: none;
  transition: all 100ms linear;

  background-color: value(B10);
  border-color: value(B10);
  color: white;
}

.iconButton:hover:not(:disabled) {
  background-color: value(B20);
  border-color: value(B20);
  color: value(D80);
}

.iconButton:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.iconButton:disabled {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

.iconButton:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.iconButton::content {
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* special case inverted */

.iconButton.inverted {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

.iconButton.inverted:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background: value(B20);
}

.iconButton.inverted:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.iconButton:disabled.inverted {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* special case inverted secondary */

.iconButton.inverted.secondary {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

.iconButton.inverted.secondary:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background: value(B20);
}

.iconButton.inverted.secondary:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.iconButton:disabled.inverted.secondary {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* Priority */

.iconButton.secondary {
  border: solid 1px value(B10);
  background: transparent;
  color: value(B10);
}

.iconButton.secondary:hover:not(:disabled) {
  color: value(D80);
  border-color: transparent;
  background-color: value(B20);
}

.iconButton.secondary:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.iconButton:disabled.secondary {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* skin Light */

.iconButton.light {
  border: none;
  background-color: value(D80);
  color: value(B20);
}

.iconButton.light:hover:not(:disabled) {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

.iconButton.light:active:not(:disabled) {
  background-color: value(B40);
  color: value(B10);
}

.iconButton:disabled.light {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* skin Light secondary */

.iconButton.light.secondary {
  border: solid 1px value(D80);
  background: transparent;
  color: value(D80);
}

.iconButton.light.secondary:hover:not(:disabled) {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

.iconButton.light.secondary:active:not(:disabled) {
  background-color: value(B40);
  border: solid 1px value(B40);
  color: value(B10);
}

.iconButton:disabled.light.secondary {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* sizes */

.iconButton.small {
  width: 30px;
  height: 30px;
}

/* icon size */

.iconButton.iconSmall {
  width: 18px;
  height: 18px;
}

.iconButton.iconMedium {
  width: 24px;
  height: 24px;
}
