:vars {
  rootWidth: initial;
  rootHeight: initial;

  transitionSpeed: 0.3s;
  borderRadius: 50px;
  labelMovementRange: 23px;

  outerLabelWidth: 45px;
  outerLabelHeight: 24px;

  innerLabelWidth: 21px;
  innerLabelHeight: 22px;
  innerLabelBackgroundColor: white;

  backgroundColor: #daeffe;
  backgroundColorChecked: #3899ec;
  backgroundColorDisabled: #cbd3dc;
  backgroundColorHover: #4eb7f5;
  backgroundColorFocus: #4eb7f5;

  focusOutline: none;

  color: #daeffe;
  colorChecked: #3899ec;
  colorDisabled: #dfe5eb;
  colorCheckedDisabled:#dfe5eb;
  colorHover: #4eb7f5;
  colorFocus:  #4eb7f5;

  toggleIconWidth: 8px;
  toggleIconHeight: 6px;
  toggleIconDisplay: block;
}
