.wrapper {
  box-sizing: border-box;
  padding: 10px;
}

.option {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 0 !important;

  &:nth-child(2n + 1) {
    background-color: #f6f8fa;
  }

  :global {
    .markdown-body p {
      margin: 0;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cbccce;
}

.previewControls {
  margin-left: auto;
}

.previewControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin checkerboard($size, $color1, $color2) {
  background:
    linear-gradient(45deg,
      $color1 25%,
      transparent 25%,
      transparent 75%,
      $color1 75%,
      $color1 0
    ),
    linear-gradient(45deg,
      $color1 25%,
      transparent 5%,
      transparent 75%,
      $color1 75%,
      $color1 0
    ),
    $color2;
  background-position: 0 0, ($size / 2) ($size / 2);
  background-size: $size $size;
  background-clip: border-box;
  background-origin: padding-box;
}

.preview {
  padding: 60px 20px;

  border: 1px solid #dee6ed;
  box-shadow: 0 0 10px 2px #e5ebf1 inset;

  @include checkerboard(20px, #eff2f6, #fff);

  &.darkPreview {
    @include checkerboard(20px, #5b7fa4, #486684);
    box-shadow: 0 0 10px 2px #486684 inset;
  }
}
