.root {
  -st-states: error, success;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.progressIndicator {
  position: relative;
  height: 100%;
}

.indicationIconContainer,
.statusIndicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arcsContainer {
  width: 54px;
  position: relative;
  height: 54px;
}

.foreArc,
.backArc {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-linecap: round;
  position: absolute;
  top: 0;
  left: 0;
}
