:import {
  -st-from: "./DropdownContent.st.css";
  -st-default: DropdownContent;
}

:import {
  -st-from: "../../components/Divider/DividerStyle.st.css";
  -st-default: Divider;
}

:import {
  -st-from: "./DropdownContentVars.st.css";
  -st-named:
    optionHoverBackgroundColor,
    optionDisabledBackgroundColor,
    optionSelectedBackgroundColor,
    optionSelectedHoverBackgroundColor,
    dividerHeight,
    dividerBackgroundColor,
    dividerOpacity,
    dividerMarginTop,
    dividerMarginBottom;
}

.root {
  -st-extends: DropdownContent;
}

.root::optionHover {
  background-color: value(optionHoverBackgroundColor);
}

.root::optionDisabled {
  background-color: value(optionDisabledBackgroundColor);
}

.root::optionSelected {
  background-color: value(optionSelectedBackgroundColor);
}

.root::optionSelectedAndHovered {
  background-color: value(optionSelectedHoverBackgroundColor);
}

[data-hook="divider"] {
  -st-mixin: Divider(
    dividerHeight value(dividerHeight),
    dividerBackgroundColor value(dividerBackgroundColor),
    dividerOpacity value(dividerOpacity),
    dividerMarginTop value(dividerMarginTop),
    dividerMarginBottom value(dividerMarginBottom)
  )
}