:import {
  -st-from: "../DropdownOption/DropdownOption.st.css";
  -st-default: DropdownOption;
}

.root {
  outline: 0;
}

.optionsContainer {
  outline: 0;
  overflow: auto;
  max-height: 260px;
  position: relative;
}

.dropdownOption {
  -st-extends: DropdownOption;
}
