:import {
  -st-from: "./DropdownContent.st.css";
  -st-default: DropdownContent;
}

:import {
  -st-from: "./DropdownContentVars.st.css";
  -st-named:
    optionHoverBackgroundColor,
    optionDisabledBackgroundColor,
    optionSelectedBackgroundColor,
    optionSelectedHoverBackgroundColor;
}

.root {
  -st-extends: DropdownContent;
}

.root::optionHover {
  background-color: value(optionHoverBackgroundColor);
}

.root::optionDisabled {
  background-color: value(optionDisabledBackgroundColor);
}

.root::optionSelected {
  background-color: value(optionSelectedBackgroundColor);
}

.root::optionSelected.root::optionHover {
  background-color: value(optionSelectedHoverBackgroundColor);
}
