:vars {
  /** Option background color when hovered */
  optionHoverBackgroundColor: lightgrey;
  /** Option background color when selected */
  optionSelectedBackgroundColor: grey;
  /** Option background color when selected & hovered */
  optionSelectedHoverBackgroundColor: dimgrey;
  /** Option background color when disabled */
  optionDisabledBackgroundColor: black;
}
