.root {
  font: 14px Helvetica, sans-serif;
}

.iconList {
  display: flex;
  flex-wrap: wrap;
}

.iconWithName {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 5px;
}

.icon {
  display: block;
  flex: none;
  width: 24px;
  height: 24px;
  fill: #000;
  stroke: none;
}

.iconName {
  flex: none;
  width: 190px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
