@custom-selector :--contentContainer .root::popover;
@custom-selector :--option .root::dropdownContent::dropdownOption;

:import {
  -st-from: "../../baseComponents/Dropdown/Dropdown.st.css";
  -st-default: Dropdown;
}

:import {
  -st-from: "../../components/Input/Input.st.css";
  -st-default: Input;
}

.root {
  -st-extends: Dropdown;
}

.input {
  -st-extends: Input;
}