:import {
  -st-from: "./VBox.st.css";
  -st-default: VBox;
}

:vars {
  rootWidth: initial;
  rootHeight: initial;
}

.root {
  -st-extends: VBox;
  width: value(rootWidth);
  height: value(rootHeight);
}
