:import {
  -st-from: "../../hocs/Focusable/Focusable.st.css";
  -st-default: Focusable;
}

.root {
  -st-states: disabled;
  -st-extends: Focusable;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.content {}

.prefix {}

.suffix {}

.root:disabled {
  cursor: default;
}
