:import {
  -st-from: "./ToggleSwitch.st.css";
  -st-default: ToggleSwitch;
}

:vars {
  colorUnchecked: #999;
  colorChecked: #999;
  colorUncheckedHover: #999;
  colorCheckedHover: #999;
  colorDisabled: #999;
}

.root {
  -st-extends: ToggleSwitch;
}

.root::track {
  background-color: currentColor;
}

.root::knob {
  background-color: white;
}

.root::knobIcon {
  fill: currentColor;
}

.root {
  color: value(colorUnchecked);
}

.root:hover {
  color: value(colorUncheckedHover);
}

.root:checked {
  color: value(colorChecked);
}

.root:checked:hover {
  color: value(colorCheckedHover);
}

.root:disabled,
.root:disabled:hover,
.root:disabled:checked,
.root:disabled:checked:hover {
  color: value(colorDisabled);
}
