:import {
  -st-from: "./ToggleSwitch.st.css";
  -st-default: ToggleSwitch;
}

:vars {
  rootWidth: initial;
  rootHeight: initial;

  transitionSpeed: 0.3s;
  labelMovementRange: 23px;

  outerLabelWidth: 45px;
  outerLabelHeight: 24px;

  borderRadius: 50px;
  outerLabelBorderSize: 0;
  outerLabelBorderSizeChecked: 0;
  outerLabelBorderSizeDisabled: 0;
  outerLabelBorderSizeHover: 0;
  outerLabelBorderSizeHoverChecked: 0;

  backgroundColor: grey;
  backgroundColorChecked: grey;
  backgroundColorDisabled: grey;
  backgroundColorHover: grey;
  backgroundColorHoverChecked: grey;
  backgroundColorFocus: grey;

  outerLabelBorderColor: white;
  outerLabelBorderColorChecked: white;
  outerLabelBorderColorDisabled: white;
  outerLabelBorderColorHover: white;
  outerLabelBorderColorHoverChecked: white;

  innerLabelWidth: 21px;
  innerLabelHeight: 22px;

  innerLabelBorderRadius: 50px;
  innerLabelBorderSize: 0;
  innerLabelBorderSizeChecked: 0;
  innerLabelBorderSizeDisabled: 0;
  innerLabelBorderSizeHover: 0;
  innerLabelBorderSizeHoverChecked: 0;

  innerLabelBackgroundColor: white;
  innerLabelBackgroundColorChecked: white;
  innerLabelBackgroundColorDisabled: white;
  innerLabelBackgroundColorHover: white;
  innerLabelBackgroundColorHoverChecked: white;

  color: white;
  colorChecked: white;
  colorDisabled: white;
  colorCheckedDisabled:white;
  colorHover: white;
  colorHoverChecked: white;
  colorFocus:  white;

  innerLabelBorderColor: white;
  innerLabelBorderColorChecked: white;
  innerLabelBorderColorDisabled: white;
  innerLabelBorderColorHover: white;
  innerLabelBorderColorHoverChecked: white;

  toggleIconWidth: 8px;
  toggleIconHeight: 6px;
  toggleIconDisplay: none;

  focusOutline: none;
}

.root {
  -st-extends: ToggleSwitch;
  width: value(rootWidth);
  height: value(rootHeight);
}

.root::outerLabel, .root::innerLabel {
  border-radius: value(borderRadius);
  transition: all value(transitionSpeed) ease;
}

.root::outerLabel {
  width: value(outerLabelWidth);
  height: value(outerLabelHeight);
  background-color: value(backgroundColor);
  border-width: value(outerLabelBorderSize);
  border-color: value(outerLabelBorderColor);
  border-style: solid;
  box-sizing: border-box;
}

.root::innerLabel {
  width: value(innerLabelWidth);
  height: value(innerLabelHeight);
  background-color: value(innerLabelBackgroundColor);
  box-shadow: 1.5px 1.5px 1px rgba(0,0,0,0.2);
  border-width: value(innerLabelBorderSize);
  border-color: value(innerLabelBorderColor);
  border-style: solid;
  box-sizing: border-box;
}

.root::toggleIcon {
  display: value(toggleIconDisplay);
  width: value(toggleIconWidth);
  height: value(toggleIconHeight);
  transition: all value(transitionSpeed) cubic-bezier(1,0,1,0);
}

.root::toggleIcon path {
  fill: value(color);
}


/* checked state */

.root:checked::outerLabel {
  background-color: value(backgroundColorChecked);
  border-width: value(outerLabelBorderSizeChecked);
  border-color: value(outerLabelBorderColorChecked);
}

.root:checked::innerLabel {
  background-color: value(innerLabelBackgroundColorChecked);
  border-width: value(innerLabelBorderSizeChecked);
  border-color: value(innerLabelBorderColorChecked);
  left: value(labelMovementRange);
}

.root:checked::toggleIcon {
  transition: all value(transitionSpeed) cubic-bezier(0,1,0,1);
}

.root:checked::toggleIconPath {
  fill: value(colorChecked);
}

/* disabled state */

.root:disabled::outerLabel, .root:disabled:hover::outerLabel, .root:disabled:checked::outerLabel, .root:disabled:checked:hover::outerLabel {
  background-color: value(backgroundColorDisabled);
  cursor: default;
  border-width: value(outerLabelBorderSizeDisabled);
  border-color: value(outerLabelBorderColorDisabled);
}

.root:disabled::innerLabel, .root:disabled:hover::innerLabel, .root:disabled:checked::innerLabel, .root:disabled:checked:hover::innerLabel {
  background-color: value(innerLabelBackgroundColorDisabled);
  cursor: default;
  border-width: value(innerLabelBorderSizeDisabled);
  border-color: value(innerLabelBorderColorDisabled)
}

.root:disabled::toggleIconPath, .root:disabled:hover::toggleIconPath {
  fill: value(colorDisabled);
}

.root:disabled:checked::toggleIconPath, .root:disabled:checked:hover::toggleIconPath {
  fill: value(colorCheckedDisabled);
}

/* hover state */

.root:hover::outerLabel {
  background-color: value(backgroundColorHover);
  border-width: value(outerLabelBorderSizeHover);
  border-color: value(outerLabelBorderColorHover);
}

.root:checked:hover::outerLabel {
  background-color: value(backgroundColorHoverChecked);
  border-width: value(outerLabelBorderSizeHoverChecked);
  border-color: value(outerLabelBorderColorHoverChecked);
}

.root:hover::innerLabel {
  background-color: value(innerLabelBackgroundColorHover);
  border-width: value(innerLabelBorderSizeHover);
  border-color: value(innerLabelBorderColorHover);
}

.root:checked:hover::innerLabel {
  background-color: value(innerLabelBackgroundColorHoverChecked);
  border-width: value(innerLabelBorderSizeHoverChecked);
  border-color: value(innerLabelBorderColorHoverChecked);
}

.root:hover::toggleIconPath {
  fill: value(colorHover);
}

.root:checked:hover::toggleIconPath {
  fill: value(colorHoverChecked);
}

/* focus state */
.root:focus {
  outline: value(focusOutline);
}
