:import {
  -st-from: "../../components/Popover/Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../DropdownContent/DropdownContent.st.css";
  -st-default: DropdownContent;
}

.root {
  -st-extends: Popover;
}

.root::popover {
  min-width: 100%;
}

.dropdownContent {
  -st-extends: DropdownContent;
}
