:import {
  -st-from: "../Popover/Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../DropdownContent/DropdownContent.st.css";
  -st-default: DropdownContent;
}

.root {
  -st-extends: Popover;
  -st-states: disabled;
}

.dropdownContent {
  -st-extends: DropdownContent;
}
