:import {
  -st-from: "../Popover/PopoverVars.st.css";
  -st-named:
    contentBackgroundColor,
    contentBorderWidth,
    contentBorderStyle,
    contentBorderColor,
    contentBorderRadius,
    contentPadding,
    contentArrowSize;
}

:import {
  -st-from: "../DropdownContent/DropdownContentVars.st.css";
  -st-named:
    optionHoverBackgroundColor,
    optionDisabledBackgroundColor,
    optionSelectedBackgroundColor,
    optionSelectedHoverBackgroundColor;
}
