:import {
  -st-from: "../Popover/PopoverStyle.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../DropdownContent/DropdownContentStyle.st.css";
  -st-default: DropdownContent;
}

:import {
  -st-from: "./DropdownVars.st.css";
  -st-named:
    contentBackgroundColor,
    contentBorderWidth,
    contentBorderStyle,
    contentBorderColor,
    contentBorderRadius,
    contentPadding,
    contentArrowSize,
    optionHoverBackgroundColor,
    optionDisabledBackgroundColor,
    optionSelectedBackgroundColor,
    optionSelectedHoverBackgroundColor;
}

.root {
  -st-mixin: Popover(
    contentBackgroundColor value(contentBackgroundColor),
    contentBorderWidth value(contentBorderWidth),
    contentBorderStyle value(contentBorderStyle),
    contentBorderColor value(contentBorderColor),
    contentBorderRadius value(contentBorderRadius),
    contentPadding value(contentPadding),
    contentArrowSize value(contentArrowSize)
  );
}

.dropdownContent {
  /* -st-mixin: DropdownContent(
    optionHoverBackgroundColor value(optionHoverBackgroundColor),
    optionSelectedBackgroundColor value(optionSelectedBackgroundColor),
    optionSelectedHoverBackgroundColor value(optionSelectedHoverBackgroundColor),
    optionDisabledBackgroundColor value(optionDisabledBackgroundColor)
  ); */
}
