:import {
  -st-from: "../../baseComponents/Dropdown/Dropdown.st.css";
  -st-default: Dropdown;
}

:import {
  -st-from: "../../baseComponents/DropdownOption/DropdownOption.st.css";
  -st-default: DropdownOption;
}

:import {
  -st-from: "../Checkbox/Checkbox.st.css";
  -st-default: Checkbox;
}

:import {
  -st-from: "../Label/Label.st.css";
  -st-default: Label;
}

:import {
  -st-from: "../Divider/Divider.st.css";
  -st-default: Divider;
}

.root {
  -st-extends: Dropdown;
  -st-states: required, error, disabled, checkbox;
}

@custom-selector :--selected .root:checkbox DropdownOption:selected;

:--selected {
  background-color: white; 
}
.selection {

}

.label {
  -st-extends: Label;
}

.divider {
  -st-extends: Divider;
}

.placeholder {
}

.optionContainer {
  display: flex;
}

.checkbox {
  -st-extends: Checkbox;
  width: 1em;
  height: 1em;
  border: 1px solid black;
}

.checkbox:checked {
  background: blue;
}