:import {
  -st-from: "../../mixins/calc";
  -st-default: calc
}

:vars {
  /** Background color of the content */
  contentBackgroundColor: white;
  /** Border width of the content */
  contentBorderWidth: 1px;
  /** Border style of the content */
  contentBorderStyle: solid;
  /** Border color of the content */
  contentBorderColor: black;
  /** Border radius of the content */
  contentBorderRadius: initial;
  /** Content padding for the content */
  contentPadding: initial;
  /** Size of the arrow of the content */
  contentArrowSize: 5px;
}

.root {
}

.root.manager {
  /*popper sets tooltip in absolute position according to this container*/
  position: relative;
  /*popper adds an extra div that needs to be measured without stretching*/
  display: inline-block;
}

.popoverAnimation {}

.popoverAnimation-enter {}

.popoverAnimation-enter.popoverAnimation-enter-active {}

.popoverAnimation-exit {}

.popoverAnimation-exit.popoverAnimation-exit-active {}

.popoverContent {
  background-color: value(contentBackgroundColor);
  border-width: value(contentBorderWidth);
  border-style: value(contentBorderStyle);
  border-color: value(contentBorderColor);
  border-radius: value(contentBorderRadius);
  padding: value(contentPadding);
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: value(contentArrowSize);
}

.popover {
  z-index: 1000;
}

.popover[data-placement*="right"].withArrow {
  padding-left: value(contentArrowSize);
}

.popover[data-placement*="right"].withArrow .arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) value(contentArrowSize) 0;
  left: calc(-1 * value(contentArrowSize));
  margin-left: value(contentArrowSize);
  margin-right: 0;
  border-color: transparent value(contentBorderColor) transparent transparent;
}

.popover[data-placement*="left"].withArrow {
  padding-right: value(contentArrowSize);
}

.popover[data-placement*="left"].withArrow .arrow {
  border-width: value(contentArrowSize) 0 value(contentArrowSize) value(contentArrowSize);
  right: calc(-1 * value(contentArrowSize));
  margin-left: 0;
  margin-right: value(contentArrowSize);
  border-color: transparent transparent transparent value(contentBorderColor);
}

.popover[data-placement*="bottom"].withArrow {
  padding-top: value(contentArrowSize);
}

.popover[data-placement*="bottom"].withArrow .arrow {
  border-width: 0 value(contentArrowSize) value(contentArrowSize) value(contentArrowSize);
  top: calc(-1 * value(contentArrowSize));
  margin-top: value(contentArrowSize);
  margin-bottom: 0;
  border-color: transparent transparent value(contentBorderColor) transparent;
}

.popover[data-placement*="top"].withArrow {
  padding-bottom: value(contentArrowSize);
}

.popover[data-placement*="top"].withArrow .arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) 0 value(contentArrowSize);
  bottom: calc(-1 * value(contentArrowSize));
  margin-top: 0;
  margin-bottom: value(contentArrowSize);
  border-color: value(contentBorderColor) transparent transparent transparent;
}
