:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: prefix, suffix, content;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: P10, P20, D55, D80,B10, B20, D10, D20, F00;
}

:import {
  -st-from: "../text.st.css";
  -st-named: weightThin, sizeMedium, sizeSmall, weightNormal;
}

.textButton {
  -st-extends: Button;
}

.textButton {
  color: value(B10);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 2px;

  -st-mixin: weightThin, sizeMedium;
  
  outline: none;
  padding: 0;
  height: 24px;
}

.textButton:hover:not(:disabled) {
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
}

.textButton:active:not(:disabled) {
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
}

.textButton:disabled {
  background-color: transparent;
  border-color: transparent;
  color: value(D55);
}

.textButton:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

/* Secondary */

.textButton.onHover {
  background-color: transparent;
  border-color: transparent;
  color: value(B10);
}

.textButton:not(:disabled).onHover:hover {
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
  text-decoration: underline;
}

.textButton:not(:disabled).onHover:active {
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
  text-decoration: underline;
}

.textButton:disabled.onHover {
  background-color: transparent;
  border-color: transparent;
  color: value(D55);
  text-decoration: none;
}

/* Underlined */

.textButton.always {
  background-color: transparent;
  border-color: transparent;
  color: value(B10);
  text-decoration: underline;
}

.textButton:not(:disabled).always:hover {
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
  text-decoration: underline;
}

.textButton:not(:disabled).always:active{
  background-color: transparent;
  border-color: transparent;
  color: value(B20);
  text-decoration: underline;
}

.textButton:disabled.always {
  background-color: transparent;
  border-color: transparent;
  color: value(D55);
  text-decoration: underline;
}

/* Premium */

.textButton.premium {
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
}

.textButton:not(:disabled).premium:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(P20);
}

.textButton:not(:disabled).premium:active{ 
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
}

.textButton:disabled.premium {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Premium secondary */

.textButton.onHover.premium {
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
}

.textButton:not(:disabled).onHover.premium:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(P20);
  text-decoration: underline;
}

.textButton:not(:disabled).onHover.premium:active {
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
  text-decoration: underline;
}

.textButton:disabled.onHover.premium {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Premium underlined */

.textButton.always.premium {
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
  text-decoration: underline;
}

.textButton:not(:disabled).always.premium:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(P20);
  text-decoration: underline;
}

.textButton:not(:disabled).always.premium:active {
  background-color: transparent;
  border-color: transparent;
  color:value(P10);
  text-decoration: underline;
}

.textButton:disabled.always.premium {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  color:value(D55);
}

/* Light */

.textButton.light {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
}

.textButton:not(:disabled).light:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
}

.textButton:not(:disabled).light:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
}

.textButton:disabled.light {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Light secondary */

.textButton.onHover.light {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
}

.textButton:not(:disabled).onHover.light:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
  text-decoration: underline;
}

.textButton:not(:disabled).onHover.light:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
}

.textButton:disabled.onHover.light {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Light underlined */

.textButton.always.light {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
  text-decoration: underline;
}

.textButton:not(:disabled).always.light:hover {
  background-color: transparent;
  border-color: transparent;
   color:value(D80);
  text-decoration: underline;
}

.textButton:not(:disabled).always.light:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D80);
  text-decoration: underline;
}

.textButton:disabled.always.light {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  color:value(D55);
}

/* Dark */

.textButton.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
}

.textButton:not(:disabled).dark:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(D20);
}

.textButton:not(:disabled).dark:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
}

.textButton:disabled.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Dark secondary */

.textButton.onHover.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
}

.textButton:not(:disabled).onHover.dark:hover {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
  color: value(D20);
}

.textButton:not(:disabled).onHover.dark:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
}

.textButton:disabled.onHover.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
}

/* Dark underlined */

.textButton.always.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
  text-decoration: underline;
}

.textButton:not(:disabled).always.dark:hover {
  background-color: transparent;
  border-color: transparent;
  color:value(D20);
  text-decoration: underline;
}

.textButton:not(:disabled).always.dark:active {
  background-color: transparent;
  border-color: transparent;
  color:value(D10);
  text-decoration: underline;
}

.textButton:disabled.always.dark {
  background-color: transparent;
  border-color: transparent;
  color:value(D55);
  text-decoration: underline;
}

/* weight */

.textButton.normal {
  -st-mixin: weightNormal;
}

/* sizes */

.textButton.small {
  height: 18px;
  -st-mixin: sizeSmall;
}

/* affixes */

.textButton .prefix {
  padding-right: 6px;
  margin: 0;
  width: 24px;
  height: 24px;
}

.textButton .suffix {
  padding-left: 6px;
  margin: 0;
  width: 24px;
  height: 24px;
}

.textButton.small .prefix {
  padding-right: 6px;
  margin: 0;
  width: 18px;
  height: 18px;
}

.textButton.small .suffix {
  padding-left: 6px;
  margin: 0;
  width: 18px;
  height: 18px;
}
