@custom-selector :--contentContainer .root::popoverContentContainer;
@custom-selector :--option .root::dropdownContent::dropdownOption;

:import {
  -st-from: "../../baseComponents/Dropdown/Dropdown.st.css";
  -st-default: Dropdown;
}

.root {
  -st-extends: Dropdown;
}
