:import {
  -st-from: "../Dropdown/Dropdown.st.css";
  -st-default: Dropdown;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

.root {
  -st-extends: Dropdown;
}

.inputComponent {
  -st-extends: Input;
}