.button-common-mixin {
    display: inline-flex;
    flex-shrink: 0;
}

.root {
    -st-states: disabled, error;
    display: inline-flex;
    user-select: none;
}

.navButton {
    -st-mixin: button-common-mixin;
    -st-states: disabled;
}

.navButton:not(.disabled) {
    cursor: pointer;
}

.navButtonFirst {  order: 1;  }
.navButtonPrevious {  order: 2;  }
.navButtonNext {  order: 4;  }
.navButtonLast {  order: 5;  }

.pageStrip {
    order: 3;
    overflow-x: hidden;
}

.pageStripInner {
    display: flex;
}

.pageStripTemplate {
    height: 0;
    overflow: hidden;
}

.pageButton {
    -st-mixin: button-common-mixin;
    cursor: pointer;
}

.currentPage {
    -st-mixin: button-common-mixin;
}

.gap {
    -st-mixin: button-common-mixin;
}

.pageForm {
    display: flex;
    order: 3;
}

.pageInput {}
.totalPages {}
.slash {}
