:import {
  -st-from: './Pagination.st.css';
  -st-default: Pagination;
}

:vars {
  materialBlueGray100: #CFD8DC;
  materialBlueGray200: #B0BEC5;
  materialBlueGray700: #455A64;
  materialRed500: #f44336;
}

.button-common-mixin {
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  min-width: 20px;
  min-height: 20px;
  font: 12px/1 Arial, sans-serif;
  text-decoration: none;
}

.root {
  -st-extends: Pagination;
  color: value(materialBlueGray700);
  background-color: #ECEFF1;
}

.root::navButton {
  -st-mixin: button-common-mixin;
  background-color: value(materialBlueGray100);
}

.root::navButton.disabled {
  color: value(materialBlueGray200);
  background-color: transparent;
}

.root::pageStripInner {
  justify-content: center;
}

.root::pageButton {
  -st-mixin: button-common-mixin;
  background-color: value(materialBlueGray200);
}

.root::currentPage {
  -st-mixin: button-common-mixin;
  background-color: value(materialBlueGray700);
  color: value(materialBlueGray100);
}

.root::gap {
  -st-mixin: button-common-mixin;
  background-color: value(materialBlueGray100);
}

.root::pageForm {
  margin: 5px;
  align-items: center;
}

.root::pageInput {
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  font: 12px/1 Arial, sans-serif;
  color: inherit;
}

.root:error::pageInput {
  border-color: value(materialRed500);
}
