.root {
  display: inline-block;
  -st-states: disabled, checked, focused, focus-visible;
}

.icon {
  cursor: pointer;
  height: auto;
}

.label {}

.root:checked::icon, .root:hover::icon {}

.root:disabled {
  filter: grayscale(75%);
  opacity: 0.7;
}

.hiddenRadio {
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  opacity: 0;
}
