:import {
    -st-from: '../../mixins/mixins.st.css';
    -st-named: ellipsisMixin;
}

.root {
    -st-states: ellipsis;
}

/* ellipsis state */
.root:ellipsis {
    -st-mixin: ellipsisMixin;
    width: 100%;
}
