.wrapper {
  box-sizing: border-box;
  padding: 10px;
}

.option {
  display: flex;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 0 !important;

  &:nth-child(2n + 1) {
    background-color: #f6f8fa;
  }

  :global {
    .markdown-body p {
      margin: 0;
    }
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #cbccce;
}

.rtlToggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.preview {
  $checker-size: 20px;
  $checker-bg-light: transparent;
  $checker-bg-dark: #eff2f6;

  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px 2px #e5ebf1 inset;
  border: 1px solid #dee6ed;
  background:
    linear-gradient(45deg,
      $checker-bg-dark 25%,
      $checker-bg-light 25%,
      $checker-bg-light 75%,
      $checker-bg-dark 75%,
      $checker-bg-dark 0
    ),
    linear-gradient(45deg,
      $checker-bg-dark 25%,
      $checker-bg-light 5%,
      $checker-bg-light 75%,
      $checker-bg-dark 75%,
      $checker-bg-dark 0
    ),
    #fff;
  background-position: 0 0, ($checker-size / 2) ($checker-size / 2);
  background-size: $checker-size $checker-size;
  background-clip: border-box;
  background-origin: padding-box;
}
