:vars {
  /** Border color of the content */
  contentBorderColor: black;
  /** Size of the arrow of the content */
  contentArrowSize: 5px;
}

.root {
  display: inline-block;
  position: relative;
}

.popoverAnimation {}

.popoverAnimation-enter {}

.popoverAnimation-enter.popoverAnimation-enter-active {}

.popoverAnimation-exit {}

.popoverAnimation-exit.popoverAnimation-exit-active {}

.popoverContent {
  border-color: value(contentBorderColor);
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: value(contentArrowSize);
}

.popover {
  z-index: 1000;
  min-width: 100%;
}

.popover[data-placement="right"] {
  padding-left: value(contentArrowSize);
}

.popover[data-placement="right"] .arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) value(contentArrowSize) 0;
  left: calc(-1 * value(contentArrowSize));
  margin-left: value(contentArrowSize);
  margin-right: 0;
  border-color: transparent value(contentBorderColor) transparent transparent;
}

.popover[data-placement="left"] {
  padding-right: value(contentArrowSize);
}

.popover[data-placement="left"] .arrow {
  border-width: value(contentArrowSize) 0 value(contentArrowSize) value(contentArrowSize);
  right: calc(-1 * value(contentArrowSize));
  margin-left: 0;
  margin-right: value(contentArrowSize);
  border-color: transparent transparent transparent value(contentBorderColor);
}

.popover[data-placement="bottom"] {
  padding-top: value(contentArrowSize);
}

.popover[data-placement="bottom"] .arrow {
  border-width: 0 value(contentArrowSize) value(contentArrowSize) value(contentArrowSize);
  top: calc(-1 * value(contentArrowSize));
  margin-top: value(contentArrowSize);
  margin-bottom: 0;
  border-color: transparent transparent value(contentBorderColor) transparent;
}

.popover[data-placement="top"] {
  padding-bottom: value(contentArrowSize);
}

.popover[data-placement="top"] .arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) 0 value(contentArrowSize);
  bottom: calc(-1 * value(contentArrowSize));
  margin-top: 0;
  margin-bottom: value(contentArrowSize);
  border-color: value(contentBorderColor) transparent transparent transparent;
}
