:import {
  -st-from: "./Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "./PopoverVars.st.css";
  -st-named:
    contentBackgroundColor,
    contentBorderWidth,
    contentBorderStyle,
    contentBorderColor,
    contentBorderRadius,
    contentPadding,
    contentArrowSize;
}

.root {
  -st-extends: Popover;
}

.root::arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: value(contentArrowSize);
}

.root::popoverContent {
  background-color: value(contentBackgroundColor);
  border-width: value(contentBorderWidth);
  border-style: value(contentBorderStyle);
  border-color: value(contentBorderColor);
  border-radius: value(contentBorderRadius);
  padding: value(contentPadding);
}

.root::popoverContentContainer {}

.root::popoverContentContainer[data-placement="right"] {
  padding-left: value(contentArrowSize);
}

.root::popoverContentContainer[data-placement="right"]::arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) value(contentArrowSize) 0;
  left: calc(-1 * value(contentArrowSize));
  margin-left: value(contentArrowSize);
  margin-right: 0;
  border-color: transparent value(contentBorderColor) transparent transparent;
}

.root::popoverContentContainer[data-placement="left"] {
  padding-right: value(contentArrowSize);
}

.root::popoverContentContainer[data-placement="left"]::arrow {
  border-width: value(contentArrowSize) 0 value(contentArrowSize) value(contentArrowSize);
  right: calc(-1 * value(contentArrowSize));
  margin-left: 0;
  margin-right: value(contentArrowSize);
  border-color: transparent transparent transparent value(contentBorderColor);
}

.root::popoverContentContainer[data-placement="bottom"] {
  padding-top: value(contentArrowSize);
}

.root::popoverContentContainer[data-placement="bottom"]::arrow {
  border-width: 0 value(contentArrowSize) value(contentArrowSize) value(contentArrowSize);
  top: calc(-1 * value(contentArrowSize));
  margin-top: value(contentArrowSize);
  margin-bottom: 0;
  border-color: transparent transparent value(contentBorderColor) transparent;
}

.root::popoverContentContainer[data-placement="top"] {
  padding-bottom: value(contentArrowSize);
}

.root::popoverContentContainer[data-placement="top"]::arrow {
  border-width: value(contentArrowSize) value(contentArrowSize) 0 value(contentArrowSize);
  bottom: calc(-1 * value(contentArrowSize));
  margin-top: 0;
  margin-bottom: value(contentArrowSize);
  border-color: value(contentBorderColor) transparent transparent transparent;
} 
