:import {
  -st-from: "./Divider.st.css";
  -st-default: Divider;
}

:import {
  -st-from: "./DividerVars.st.css";
  -st-named:
    dividerHeight,
    dividerBackgroundColor,
    dividerOpacity,
    dividerMarginTop,
    dividerMarginBottom;
}

.root {
  -st-extends: Divider;
}

.root::divider {
  height: value(dividerHeight);
  background-color: value(dividerBackgroundColor);
  opacity: value(dividerOpacity);
  margin-top: value(dividerMarginTop);
  margin-bottom: value(dividerMarginBottom);
}

.root::vertical {
  width: value(dividerHeight);
}
