:vars {
  /** Height of the divider */
  dividerHeight: 1px;
  /** Background color of the divider */
  dividerBackgroundColor: black;
  /** Opacity of the divider */
  dividerOpacity: initial;
  /** Margin top of the divider */
  dividerMarginTop: initial;
  /** Margin bottom of the divider */
  dividerMarginBottom: initial;
}
