:import {
  -st-from: "../../src/components/LinearProgressBar/LinearProgressBar.st.css";
  -st-default: LinearProgressBar;
}

.root {
  -st-extends: LinearProgressBar;
}

.root::barForeground, .root::barBackground {
  height: 4px;
  border-radius: 2px;
}

.root::barBackground {
  background: rgb(227, 228, 227);
}

.root::barForeground {
  background: rgb(0, 0, 0);
}

.root:error::barForeground {
  background: rgb(223, 61, 61);
}

.root:error::barBackground {
  background: rgb(231, 182, 182);
}
