:import {
  -st-from: "../InputWithOptions/InputWithOptions.st.css";
  -st-default: InputWithOptions;
}

:import {
  -st-from: "./MultiCheckboxVars.st.css";
  -st-named:
    contentBackgroundColor,
    contentBorderWidth,
    contentBorderStyle,
    contentBorderColor,
    contentBorderRadius,
    contentPadding;
}

.root {
  -st-mixin: InputWithOptions(
    contentBackgroundColor value(contentBackgroundColor),
    contentBorderWidth value(contentBorderWidth),
    contentBorderStyle value(contentBorderStyle),
    contentBorderColor value(contentBorderColor),
    contentBorderRadius value(contentBorderRadius),
    contentPadding value(contentPadding)
  );
}
