:vars {
  /** Option background color when hovered */
  hoverBackgroundColor: lightgrey;
  /** Option background color when selected */
  selectedBackgroundColor: grey;
  /** Option background color when selected & hovered */
  selectedHoverBackgroundColor: dimgrey;
  /** Option background color when disabled */
  disabledBackgroundColor: white;
}

.root {
  -st-states: hovered, disabled, selectable, selected;
  cursor: pointer;
}

.root:hovered {
  background-color: value(hoverBackgroundColor);
}

.root:disabled {
  cursor: default;
  background-color: value(disabledBackgroundColor);
}

.root:selected {
  background-color: value(selectedBackgroundColor);
}

.root:selected:hovered {
  background-color: value(selectedHoverBackgroundColor);
}

.root:not(:selectable) {
  cursor: default;
}

.highlight {
  background-color: transparent;
  font-weight: bold;
}
