:import {
  -st-from: "../../src/components/CircularProgressBar/CircularProgressBar.st.css";
  -st-default: CircularProgressBar;
}

.root {
  -st-extends: CircularProgressBar;
}

.root::backArc {
  stroke: rgb(227, 228, 227);
}

.root::foreArc {
  stroke: rgb(0, 0, 0);
}

.root:error::backArc {
  stroke: rgb(231, 182, 182);
}

.root:error::foreArc {
  stroke: rgb(223, 61, 61);
}

