:import {
    -st-from: "./Badge.st.css";
    -st-default: Badge;
  }
  
:vars {
    backgroundColor: grey;
    borderColor: grey;
    color: white;
}

.root {
    -st-extends: Badge;
    height: 24px;
    padding: 4px 12px;
    
    border: 1px solid;
    border-radius: 2px;
    border-color: value(borderColor);
    color: value(color);
    
    background: value(backgroundColor);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    line-height: 1;
}
