:import {
    -st-from: '../core/Select.st.css';
    -st-default: Select;
}

.root {
    -st-extends: Select;
    color: #9C27B0;
}

.root::toggleIcon {
    fill: currentColor;
    transition: fill 1s;
}

.root:hover::toggleIcon {
    fill: #e53935;
}
