.root {
  -st-states: error;
}

.linearProgressBarContainer {
  width: 100%;
  position: relative;
}

.linearProgressBarBackground {
  position: absolute;
  background: rgb(227, 228, 227);
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.linearProgressBarForeground {
  border-radius: 2px;
  height: 4px;
  position: absolute;
  background: rgb(0, 0, 0);
}

.root:error::linearProgressBarForeground {
  background: rgb(223, 61, 61);
}

.root:error::linearProgressBarBackground {
  background: rgb(231, 182, 182);
}