:import {
  -st-from: '../theme.st.css';
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: suffix, prefix;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, F00, B20, D55, R10, R20, P10, P20, G10, G20, D80, B50, D40,
    D10, D20, B40, F00;
}

:import {
  -st-from: '../shadows.st.css';
  -st-named: s5, s6, s7;
}

:import {
  -st-from: "../text.st.css";
  -st-named: sizeTiny, sizeSmall, sizeMedium, weightNormal, weightBold;
}

.button {
  -st-extends: Button;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  text-align: center;
  border: 1px solid;

  -st-mixin: sizeMedium, weightNormal;

  outline: none;
  transition: all 100ms linear;

  height: 36px;
  min-width: 84px;
  border-radius: 18px;
  padding: 0 23px;

  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);

  /* render as anchor overrides */
  text-decoration: none;
}

.button::content {
  display: flex;
  align-items: center;
}

.button:hover:not(:disabled) {
  background-color: value(B20);
  border-color: value(B20);
  color: value(D80);
}

.button:active:not(:disabled) {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.button:disabled {
  color: value(D80);
  background-color: value(D55);
  border-color: value(D55);
}

.button:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
  z-index: 1000;
}

/* Special cases */

.button.inverted {
  border-color: value(D80);
  background-color: value(D80);
  color: value(B20);
}

.button:not(:disabled).inverted:hover {
  color: value(D80);
  border-color: transparent;
  background-color: value(B20);
}

.button:not(:disabled).inverted:active {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.button:disabled.inverted {
  color: value(D80);
  background-color: value(D55);
  border-color: value(D55);
}

/* Priority */

.button.secondary {
  border: solid 1px value(B10);
  background: transparent;
  color: value(B10);
}

.button:not(:disabled).secondary:hover {
  color: value(D80);
  border-color: transparent;
  background-color: value(B20);
}

.button:not(:disabled).secondary:active {
  background-color: value(B10);
  border-color: value(B10);
  color: value(D80);
}

.button:disabled.secondary {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* skin Light */

.button.light {
  border-color: value(D80);
  background-color: value(D80);
  color: value(B20);
}

.button:not(:disabled).light:hover {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

.button:not(:disabled).light:active {
  background-color: value(B40);
  color: value(B10);
}

.button:disabled.light {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* skin Light secondary */

.button.light.secondary {
  border: solid 1px value(D80);
  background: transparent;
  color: value(D80);
}

.button:not(:disabled).light.secondary:hover {
  background-color: value(B50);
  color: value(B10);
  border-color: value(B50);
}

.button:not(:disabled).light.secondary:active {
  background-color: value(B40);
  border: solid 1px value(B40);
  color: value(B10);
}

.button:disabled.light.secondary {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* skin Destructive */

.button.destructive {
  background-color: value(R10);
  border-color: value(R10);
  color: value(D80);
}

.button:not(:disabled).destructive:hover {
  background-color: value(R20);
  border-color: value(R20);
  color: value(D80);
}

.button:not(:disabled).destructive:active {
  background-color: value(R10);
  border-color: value(R10);
  color: value(D80);
}

.button:disabled.destructive {
  color: value(D80);
  background-color: value(D55);
  border-color: value(D55);
}

/* skin Destructive secondary */

.button.destructive.secondary {
  border: solid 1px value(R10);
  background: transparent;
  color: value(R10);
}

.button:not(:disabled).destructive.secondary:hover {
  background-color: value(R20);
  border-color: value(R20);
  color: value(D80);
}

.button:not(:disabled).destructive.secondary:active {
  background-color: value(R10);
  border-color: value(R10);
  color: value(D80);
}

.button:disabled.destructive.secondary {
  border-color: value(D55);
  color: value(D55);
  background-color: transparent;
}

/* skin Premium */

.button.premium {
  background-color: value(P10);
  border-color: value(P10);
  color: value(D80);
}

.button:not(:disabled).premium:hover {
  background-color: value(P20);
  border-color: value(P20);
  color: value(D80);
}

.button:not(:disabled).premium:active {
  background-color: value(P10);
  border-color: value(P10);
  color: value(D80);
}

.button:disabled.premium {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* skin Premium secondary */

.button.premium.secondary {
  border: solid 1px value(P10);
  background: transparent;
  color: value(P10);
}

.button:not(:disabled).premium.secondary:hover {
  background-color: value(P20);
  border-color: value(P20);
  color: value(D80);
}

.button:not(:disabled) .premium.secondary:active{
  background-color: value(P10);
  border-color: value(P10);
  color: value(D80);
}

.button:disabled.premium.secondary {
  border-color: value(D55);
  background-color: transparent;
  color: value(D55);
}

/* skin Dark */

.button.dark {
  background-color: transparent;
  border: solid 1px value(D40);
  color: value(D10);
}

.button:not(:disabled).dark:hover {
  color: value(D80);
  background-color: value(D20);
  border-color: value(D20);
}

.button:not(:disabled).dark:active{
  background-color: value(D10);
  border-color: value(D10);
  color: value(D80);
}

.button:disabled.dark {
  background-color: transparent;
  border: solid 1px value(D55);
  color: value(D55);
}

/* skin Dark secondary */

.button.dark.secondary {
  background-color: transparent;
  border: solid 1px value(D40);
  color: value(D10);
}

.button:not(:disabled).dark.secondary:hover {
  color: value(D80);
  background-color: value(D20);
  border-color: value(D20);
}

.button:not(:disabled).dark.secondary:active {
  background-color: value(D10);
  border-color: value(D10);
  color: value(D80);
}

.button:disabled.dark.secondary {
  background-color: transparent;
  border: solid 1px value(D55);
  color: value(D55);
}

/* skin Transparent */

.button.transparent {
  border-color: transparent;
  background-color: value(s5);
  color: value(D80);
}

.button:not(:disabled).transparent:hover {
  border-color: transparent;
  background-color: value(s6);
  color: value(D80);
}

.button:not(:disabled).transparent:active {
  background-color: value(s7);
  border-color: value(s7);
  border-color: transparent;
}

.button:disabled.transparent {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* skin Transparent secondary */

.button.transparent.secondary {
  border-color: transparent;
  background-color: value(s5);
  color: value(D80);
}

.button:not(:disabled).transparent.secondary:hover {
  border-color: transparent;
  background-color: value(s6);
  color: value(D80);
}

.button:not(:disabled).transparent.secondary:active {
  background-color: value(s7);
  border-color: value(s7);
  border-color: transparent;
}

.button:disabled.transparent.secondary {
  background-color: value(D55);
  border-color: value(D55);
  color: value(D80);
}

/* sizes */

.button.large {
  height: 42px;
  min-width: 102px;

  -st-mixin: sizeMedium, weightNormal;

  border-radius: 21px;
  padding: 0 29px;
}

.button.small {
  height: 30px;
  min-width: 72px;

  -st-mixin: sizeSmall, weightNormal;

  border-radius: 15px;
  padding: 0 17px;
}

.button.tiny {
  height: 24px;
  min-width: 60px;

  -st-mixin: sizeTiny, weightBold;
   
  line-height: 16px;
  border-radius: 18px;
  padding: 0 11px;
}

/* Full width mode */

.button.fullWidth {
  width: 100%;
}

/* Suffix and prefix */

.button.tiny .suffix {
  margin: 0 -6px 0 3px;
  width: 18px;
  height: 18px;
}

.button.tiny .prefix {
  margin: 0 3px 0 -6px;
  width: 18px;
  height: 18px;
}

.button.small .suffix {
  margin: 0 -6px 0 6px;
  width: 18px;
  height: 18px;
}

.button.small .prefix {
  margin: 0 6px 0 -6px;
  width: 18px;
  height: 18px;
}

.button .suffix {
  margin: 0 -12px 0 6px;
  width: 24px;
  height: 24px;
}

.button .prefix {
  margin: 0 6px 0 -12px;
  width: 24px;
  height: 24px;
}

.button.large .suffix {
  margin: 0 -12px 0 12px;
  width: 24px;
  height: 24px;
}

.button.large .prefix {
  margin: 0 12px 0 -12px;
  width: 24px;
  height: 24px;
}

/* rtl */

:global([dir='rtl']) .button.large .suffix {
  margin: 0 12px 0 -12px;
}

:global([dir='rtl']) .button.large .prefix {
  margin: 0 -12px 0 12px;
}

:global([dir='rtl']) .button.small .suffix {
  margin: 0 6px 0 -6px;
}

:global([dir='rtl']) .button.small .prefix {
  margin: 0 -6px 0 6px;
}

:global([dir='rtl']) .button .suffix {
  margin: 0 12px 0 -12px;
}

:global([dir='rtl']) .button .prefix {
  margin: 0 -12px 0 12px;
}

:global([dir='rtl']) .button.tiny .suffix {
  margin: 0 0 0 -6px;
}

:global([dir='rtl']) .button.tiny .prefix {
  margin: 0 -6px 0 0;
}
