:import {
  -st-from: '../theme.st.css';
  -st-default: DefaultTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

@st-scope DefaultTheme { 
  Avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: grey;
    color: white;

    height: 48px;
    width: 48px;
    border-radius: 30px;
  }


  Avatar:contentType(image)::content {
    height: inherit;
    width: inherit;
    border-radius: inherit;
  }
}