:import {
  -st-from: '../theme.st.css';
  -st-default: DefaultTheme;
}

:import {
  -st-from: '../../../components/avatar/avatar.st.css';
  -st-default: Avatar;
}

.avatar {
  -st-extends: Avatar;
}

DefaultTheme .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: grey;
  color: white;

  height: 48px;
  width: 48px;
  border-radius: 30px;
}
