:import {
  -st-from: "./Checkbox.st.css";
  -st-default: Checkbox;
}

.root {
  -st-extends: Checkbox;
}

.root::box {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    background-color: #fff;
    border: 1px solid #c8c8c8;
}

.root:checked::box,
.root:indeterminate::box {
    color: #fff;
    background-color: #4a90e2;
}

.root:disabled::box {
    background-color: #f1f1f1;
}

.root:focus-visible::box {
    outline: 4px solid rgba(92, 180, 255, 0.5);
}

.root:focus::box {
    border: 1px solid red;
}

.root::box > svg {
    display: block;
    width: 60%;
    height: 60%;
    fill: currentColor;
}
