@namespace "Checkbox";

.root {
    -st-states: checked, disabled, indeterminate, readonly, focus, error;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.box {}

.nativeCheckbox {
    position: fixed;
    top: -100%;
    opacity: 0;
}

.childContainer {
    display: inline;
}
