@namespace "Checkbox";

.root {
    -st-states: checked, disabled, indeterminate, readonly, focus, focus-visible, error;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.root:disabled {
    pointer-events: none;
}

.box {}

.nativeCheckbox {
    margin: 0;
    position: absolute;
    cursor: inherit;
    pointer-events: none;
    opacity: 0;
}

.childContainer {
    display: inline;
}
