:import {
    -st-from: "./Button.st.css";
    -st-default: Button;
}

.root {
    height: 16px;
    background-color: red;
}

:vars {
    height: initial;
    padding: 0px 23px;
    borderRadius: 0;

    fontFamily: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", "Helvetica Neue", "Helvetica", "Arial", "メイリオ; meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";
    fontSize: 16px;
    lineHeight: 24px;
    fontStyle: normal;
    fontWeight: normal;
    color: black;
    backgroundColor: grey;
    borderColor: black;
    disabledBackgroundColor: black;
    disabledBorderColor: grey;
    disabledColor: grey;
}

.root {
    -st-extends: Button;
    height: value(height);
    padding: value(padding);
    border-radius: value(borderRadius);
    font-family: value(fontFamily);
    font-size: value(fontSize);
    line-height: value(lineHeight);
    font-style: value(fontStyle);
    font-weight: value(fontWeight);
    color: value(color);
    background-color: value(backgroundColor);
    border-color: value(borderColor);
}

.root:disabled {
    background-color: value(disabledBackgroundColor);
    border-color: value(disabledBorderColor);
    color: value(disabledColor);
}

.root:hover {
    background-color: value(backgroundColor);
    border-color: value(borderColor);
    color: value(color);
}

.root:active {
    background-color: value(backgroundColor);
    border-color: value(borderColor);
    color: value(color);
}
