:import {
  -st-from: "./typography.st.css";
  -st-named: fontLight, fontRoman, fontMedium;
}

.sizeMedium {
  font-size: 16px;
  line-height: 24px;
}

.sizeSmall {
  font-size: 14px;
  line-height: 18px;
}

.sizeTiny {
  font-size: 12px;
  line-height: 15px;
}

.weightThin {
  font-family: value(fontLight);
  font-weight: 300;
}

.weightNormal {
  font-family: value(fontRoman);
  font-weight: 400;
}

.weightBold {
  font-family: value(fontMedium);
  font-weight: 500;
}
