:import {
  -st-from: "./typography.st.css";
  -st-named: fontLight, fontRoman, fontMedium;
}

.textMedium {
  font-size: 16px;
  line-height: 24px;
}

.textSmall {
  font-size: 14px;
  line-height: 18px;
}

.textTiny {
  font-size: 12px;
  line-height: 15px;
}

.textThin {
  font-family: value(fontLight);
}

.textNormal {
  font-family: value(fontRoman);
}

.textBold {
   font-family: value(fontMedium);
}
