.root {
  max-width: 1254px;
  width: 100%;
  display: inline-block;
  border: 1px solid #ebedf0;
  border-radius: 2px;
  margin: 8px 8px 16px;
  transition: all .2s;
  box-sizing: border-box;
}

.demo {
  padding: 42px 24px 50px;
  border-bottom: 1px solid #ebedf0;
} 

.demoItems {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.meta {
  position: relative;
  padding: 18px 32px;
  border-radius: 0 0 2px 2px;
  transition: background-color .4s;
  font-size: 14px;
}

.description code {
  margin: 0 1px;
  background: #f2f4f5;
  padding: .2em .4em;
  border-radius: 3px;
  font-size: .9em;
  border: 1px solid #eee;

}

.code {
  width: auto;
  display: block;
  overflow: auto;
  border-radius: 0;
  border-top: 1px dashed #ebedf0;
}

.codeHide {
  display:none;
}

.iconShow {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  transition: background-color 0.4s;
}

.iconHide {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  transition: background-color 0.4s;
}

.description {
  display: block;
  line-height: 2;
  font-size: 14px;
}

.title {
  position: absolute;
  top: -12px;
  padding: 1px 8px;
  margin-left: -8px;    
  color: #777;
  border-radius: 2px 2px 0 0;
  background: #fff;
  transition: background-color .4s;
}

