.root {
  /* Info on focus-visible: https://drafts.csswg.org/selectors-4/#the-focus-visible-pseudo */
  -st-states: checked, disabled, focus, focus-visible;
  display: inline-flex;
  position: relative;
}

/* We're relying on the input to handle mouse events, that's why we need it to cover the entire component */
.input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: inherit;
}

.track {}

.knob {}

.knobIcon {}
