:import {
  -st-from: "../theme.st.css";
  -st-default: BackofficeTheme;
}

:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: content;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, D55, D80, D10, D20, B30;
}

:import {
  -st-from: '../shadows.st.css';
  -st-named: s5, s6, s7;
}

.closeButton {
  -st-extends: Button;
}

BackofficeTheme .closeButton {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  padding: 0;

  box-sizing: border-box;
  text-align: center;
  
  border: none;
  outline: none;
  transition: all 100ms linear;

  background-color: transparent;
  color: value(B10);
}

BackofficeTheme .closeButton:hover:not(:disabled) {
  color: value(B20);
  background-color: transparent;
}

BackofficeTheme .closeButton:active:not(:disabled) {
  color: value(B10);
  background-color: transparent;
}

BackofficeTheme .closeButton:disabled {
  color: value(D55);
  background-color: transparent;
}

BackofficeTheme .closeButton::content {
  line-height: 0;
  width: 100%;
  height: 100%;
}

/* Inverted */

BackofficeTheme .inverted {
  background-color: value(B50);
  color: value(B10);
}

BackofficeTheme .inverted:hover:not(:disabled) {
  background-color: value(B40);
  color: value(B10);
}

BackofficeTheme .inverted:active:not(:disabled) {
  background-color: value(B30);
  color: value(B10);
}

BackofficeTheme .inverted:disabled {
  border-color: value(D55);
  color:  value(D80);
  background-color: value(D55);
}

/* Skin light */

BackofficeTheme .light {
  background-color: transparent;
  color: value(D80);
}

BackofficeTheme .light:hover:not(:disabled) {
  background-color: transparent;
  color: value(B50);
}

BackofficeTheme .light:active:not(:disabled) {
  background-color: transparent;
  color: value(B40);
}

BackofficeTheme .light:disabled {
  color: value(D55);
  background-color: transparent;
}

/* Skin dark */

BackofficeTheme .dark {
  border-color: transparent;
  background-color: transparent;
  color: value(D10);
}

BackofficeTheme .dark:hover:not(:disabled) {
  border-color: transparent;
  background-color: transparent;
  color: value(D20);
}

BackofficeTheme .dark:active:not(:disabled) {
  border-color: transparent;
  background-color: transparent;
  color: value(D10);
}

BackofficeTheme .dark:disabled {
  color: value(D55);
  background-color: transparent;
}

/* Skin transparent */

BackofficeTheme .transparent {
  border-color: value(s5);
  background-color: value(s5);
  color:  value(D80);
}

BackofficeTheme .transparent:hover:not(:disabled) {
  border-color: value(s6);
  background-color: value(s6);
  color:  value(D80);
}

BackofficeTheme .transparent:active:not(:disabled) {
  border-color: value(s7);
  background-color: value(s7);
  color:  value(D80);
}

BackofficeTheme .transparent:disabled {
  border-color: value(D55);
  color:  value(D80);
  background-color: value(D55);
}
