:import {
  -st-from: '../../../components/button-next/button-next.st.css';
  -st-default: Button;
  -st-named: content;
}

:import {
  -st-from: '../colors.st.css';
  -st-named: B10, D55, D80, B20, B50, B40, D55, D80, D10, D20, B30, F00;
}

:import {
  -st-from: '../shadows.st.css';
  -st-named: s5, s6, s7;
}

.closeButton {
  -st-extends: Button;
}

.closeButton {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  padding: 0;

  box-sizing: border-box;
  text-align: center;

  border: none;
  outline: none;
  transition: all 100ms linear;

  background-color: transparent;
  color: value(B10);
}

.closeButton:focus-visible {
  box-shadow: 0 0 0 3px value(F00);
}

.closeButton:hover:not(:disabled) {
  color: value(B20);
  background-color: transparent;
}

.closeButton:active:not(:disabled) {
  color: value(B10);
  background-color: transparent;
}

.closeButton:disabled {
  color: value(D55);
  background-color: transparent;
}

.closeButton::content {
  line-height: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Skin StandardFilled */

.closeButton.standardFilled {
  background-color: value(B50);
  color: value(B10);
}

.closeButton.standardFilled:hover:not(:disabled) {
  background-color: value(B40);
  color: value(B10);
}

.closeButton.standardFilled:active:not(:disabled) {
  background-color: value(B30);
  color: value(B10);
}

.closeButton.standardFilled:disabled {
  border-color: value(D55);
  color: value(D80);
  background-color: value(D55);
}

/* Skin light */

.closeButton.light {
  background-color: transparent;
  color: value(D80);
}

.closeButton.light:hover:not(:disabled) {
  background-color: transparent;
  color: value(B50);
}

.closeButton.light:active:not(:disabled) {
  background-color: transparent;
  color: value(B40);
}

.closeButton.light:disabled {
  color: value(D55);
  background-color: transparent;
}

/* Skin dark */

.closeButton.dark {
  border-color: transparent;
  background-color: transparent;
  color: value(D10);
}

.closeButton.dark:hover:not(:disabled) {
  border-color: transparent;
  background-color: transparent;
  color: value(D20);
}

.closeButton.dark:active:not(:disabled) {
  border-color: transparent;
  background-color: transparent;
  color: value(D10);
}

.closeButton.dark:disabled {
  color: value(D55);
  background-color: transparent;
}

/* Skin LightFilled */

.closeButton.lightFilled {
  border-color: value(s5);
  background-color: value(s5);
  color: value(D80);
}

.closeButton.lightFilled:hover:not(:disabled) {
  border-color: value(s6);
  background-color: value(s6);
  color: value(D80);
}

.closeButton.lightFilled:active:not(:disabled) {
  border-color: value(s7);
  background-color: value(s7);
  color: value(D80);
}

.closeButton.lightFilled:disabled {
  border-color: value(D55);
  color: value(D80);
  background-color: value(D55);
}

/* Size */

.closeButton.medium {
  width: 24px;
  height: 24px;
}
