:vars {
  /** Height of the divider */
  dividerHeight: 1px;
  /** Background color of the divider */
  dividerBackgroundColor: black;
  /** Opacity of the divider */
  dividerOpacity: initial;
  /** Margin top of the divider */
  dividerMarginTop: initial;
  /** Margin bottom of the divider */
  dividerMarginBottom: initial;
}

.root {
  -st-states: vertical, customDivider;
}

.root:customDivider {
  reset: all;
}

.root:not(:customDivider) {
  height: value(dividerHeight);
  background-color: value(dividerBackgroundColor);
  opacity: value(dividerOpacity);
  margin-top: value(dividerMarginTop);
  margin-bottom: value(dividerMarginBottom);
}

.root:vertical {
  height: auto;
  width: value(dividerHeight);
}
